<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FB-livestream-animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF1FC16E1F24C8420013786B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF1FC1821F24C8420013786B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF1FC18D1F24C8420013786B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
